{% extends 'base.html.twig' %}

{% block body %}
<a href="#" id="ponencias"><h2>{% trans %}Ponencias{% endtrans %}</h2> </a> 
<div id="ponencias1" style="display:none">
{% trans %}
Se invita al envío de ponencias originales y que no hayan sido publicadas previamente, que sean el resultado del trabajo en investigación en aplicaciones relacionadas con los tópicos de interés descritos a continuación, sin estar limitados a ellos:
{% endtrans %}<br><br> 
<ul>
<li>{% trans %}Redes inalámbricas de sensores{% endtrans %}</li>
<li>{% trans %}eSalud y vida cotidiana asistida por el entorno{% endtrans %}</li>
<li>{% trans %}Internet de las personas e Internet de las cosas{% endtrans %}</li>
<li>{% trans %}Ciudades inteligentes y redes computacionales urbanas{% endtrans %}</li>
<li>{% trans %}Sistemas de cómputo ubicuo y de inteligencia ambiental{% endtrans %}</li>
<li>{% trans %}Computación en la nube{% endtrans %}</li>
<li>{% trans %}Computación móvil en la nube y de vanguardia{% endtrans %}</li>
<li>{% trans %}Sistemas ciber-físicos{% endtrans %}</li>
<li>{% trans %}Comunicación en grids inteligentes{% endtrans %}</li>
<li>{% trans %}Redes vehiculares{% endtrans %}</li>
<li>{% trans %}Sistemas de procesamiento de señales{% endtrans %}</li>
<li>{% trans %}Redes de próxima generación{% endtrans %}</li> 
<li>{% trans %}Computación par a par{% endtrans %}</li>
<li>{% trans %}Redes sociales y Web 2.0{% endtrans %}</li>
<li>{% trans %}Virtualización de redes{% endtrans %}</li>
<li>{% trans %}Redes definidas por software{% endtrans %}</li>
<li>{% trans %}Administración de grandes volúmenes de datos{% endtrans %}</li>
<li>{% trans %}Servicios multimedia interactivos {% endtrans %}</li>
</ul>
</div>

<a href="#" id="coloquio"><h2>{% trans %}Consorcio de posgrado{% endtrans %}</h2> </a> 
<div id="coloquio1" style="display:none">
{% trans %}
El comité organizador de la International Conference on Computer Networks Applications (ICCNA 2018) convoca a estudiantes que esten realizando estudios de maestría y doctorado en el país o en el extranjero a participar en el Consorcio de Posgrado. Este evento es un foro para que estudiantes de maestría y doctorado en ciencias e ingeniería presenten avances de su trabajo y obtengan retroalimentación por parte de reconocidos investigadores y de otros participantes del evento. El Consorcio de Posgrado de ICCNA 2018 se llevará a cabo el día 6 de Noviembre de 2018, en la ciudad de Mexicali, Baja California, México.
{% endtrans %}<br><br> 
<strong>{% trans %}
Objetivos del Consorcio de Posgrado:
{% endtrans %}</strong><br><br> 
<ul>
<li>{% trans %}
Ofrecer a los estudiantes de posgrado la oportunidad de compartir y discutir sus trabajos de investigación con un panel de académicos reconocidos.
{% endtrans %}</li><br>
<li>{% trans %}
Fomentar la participación de los estudiantes en eventos de investigación.
{% endtrans %}</li><br>
<li>{% trans %}
Promover la colaboración entre los estudiantes de posgrado y la comunidad de investigación de ciencias de la computación en México.
{% endtrans %}</li>
</ul>
<strong>{% trans %}
Mecánica del Consorcio de Posgrado:
{% endtrans %}</strong><br><br> 
{% trans %}
El seminario consistirá de dos sesiones de presentaciones. En la primera sesión se presentaran los trabajos de maestría, mientras que en la segunda sesión los de doctorado. Los trabajos a presentar serán organizados por temática.
{% endtrans %}<br><br> 
{% trans %}
Cada alumno realizará una presentación con duración de 15 minutos, posterior a la presentación habrá una sesión de 10 minutos, en la cual un comité de académicos preguntará al alumno y/o proporcionará sugerencias o recomendaciones, las cuales le ayudarán a identificar las fortalezas y debilidades de su trabajo de investigación. Finalmente, se realizará una sesión de 5 minutos de preguntas y respuestas con el público en general.
{% endtrans %}<br><br>
</div>
<a href="#" id="carteles"><h2>{% trans %}Carteles{% endtrans %}</h2> </a> 
<div id="carteles1" style="display:none">
{% trans %}
El Comité Organizador de la Conferencia Internacional en Aplicaciones de las Redes de Computadoras (ICCNA 2018) hace una atenta invitación a  investigadores y estudiantes a participar en la sesión de presentación de carteles, que se llevará a cabo el 6 de noviembre de 2018 en la ciudad de Mexicali, Baja California, México.
{% endtrans %}<br><br> 
{% trans %}
Durante esta sesión, estudiantes e investigadores tendrán la oportunidad de difundir su trabajo a la comunidad científica (por ejemplo, trabajo en proceso).
{% endtrans %}<br><br>
{% trans %} 
La selección de los carteles se hará con base en el resumen enviado por los autores, que serán avaluados considerando sus méritos técnicos y grado de innovación, así como por su potencial para estimular discusiones interesantes y el intercambio de ideas.
{% endtrans %}<br><br> 
{% trans %} 
La propuesta de carteles debe estar relacionada con las siguientes áreas, aunque no limitadas a ellas:
{% endtrans %}<br><br> 
<ul>
<li>{% trans %}Redes inalámbricas de sensores{% endtrans %}</li>
<li>{% trans %}eSalud y vida cotidiana asistida por el entorno{% endtrans %}</li>
<li>{% trans %}Internet de las personas e Internet de las cosas{% endtrans %}</li>
<li>{% trans %}Ciudades inteligentes y redes computacionales urbanas{% endtrans %}</li>
<li>{% trans %}Sistemas de cómputo ubicuo y de inteligencia ambiental{% endtrans %}</li>
<li>{% trans %}Computación en la nube{% endtrans %}</li>
<li>{% trans %}Computación móvil en la nube y de vanguardia{% endtrans %}</li>
<li>{% trans %}Sistemas ciber-físicos{% endtrans %}</li>
<li>{% trans %}Comunicación en grids inteligentes{% endtrans %}</li>
<li>{% trans %}Redes vehiculares{% endtrans %}</li>
<li>{% trans %}Sistemas de procesamiento de señales{% endtrans %}</li>
<li>{% trans %}Redes de próxima generación{% endtrans %}</li> 
<li>{% trans %}Computación par a par{% endtrans %}</li>
<li>{% trans %}Redes sociales y Web 2.0{% endtrans %}</li>
<li>{% trans %}Virtualización de redes{% endtrans %}</li>
<li>{% trans %}Redes definidas por software{% endtrans %}</li>
<li>{% trans %}Administración de grandes volúmenes de datos{% endtrans %}</li>
<li>{% trans %}Servicios multimedia interactivos {% endtrans %}</li>
</ul>
</div>
{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('call', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('call', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('call', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('call', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
