{% extends 'base.html.twig' %}


{% block body %}
<h2>{% trans %}Presidentes del Comité Técnico del Programa{% endtrans %}</h2><br>
<ul>
<li>{% trans %}Arnoldo Díaz-Ramirez (Tecnológico Nacional de México/IT de Mexicali){% endtrans %}</li>
<li>{% trans %}Carlos T. Calafate (Universidad Politécnica de Valencia, España){% endtrans %}</li>
</ul>

<h2>{% trans %}Comité Técnico del Programa{% endtrans %}</h2><br>
<ul>
<li>{% trans %}Paolo Spagnolo (National Research Council){% endtrans %}</li>
<li>{% trans %}Pietro Manzoni (Universitat Politècnica de València){% endtrans %}</li>
<li>{% trans %}Cuauhtemoc Mancillas Lopez (Laboratoire Hubert Curien, University of Lyon at Saint Etienne){% endtrans %}</li>
<li>{% trans %}Luis Jaimes (Florida Polytechnic University){% endtrans %}</li>
<li>{% trans %}Alan Arnoldo Díaz Montiel (CONNECT Centre, Trinity College Dublin){% endtrans %}</li>
<li>{% trans %}Enrique Hernández-Orallo (Universitat Politècnica de València){% endtrans %}</li>
<li>{% trans %}Fabian N. Murrieta-Rico (UABC){% endtrans %}</li>
<li>{% trans %}Abelardo Rodriguez-Leon (Instituto Tecnológico de Veracruz){% endtrans %}</li>
<li>{% trans %}Luis Martín Sánchez-Adame (CINVESTAV-IPN){% endtrans %}</li>
<li>{% trans %}Piedad Garrido Picazo (University of Zaragoza){% endtrans %}</li>
<li>{% trans %}Luis Arturo Martinez-Alvarado (UABC){% endtrans %}</li>
<li>{% trans %}Maria De Los Angeles Cosio Leon (Universidad Politecnica de Pachuca){% endtrans %}</li>
<li>{% trans %}Jose Santa (University of Murcia){% endtrans %}</li>
<li>{% trans %}Juan-Carlos Cano (Universitat Politècnica de València){% endtrans %}</li>
<li>{% trans %}Sonia Mendoza (CINVESTAV-IPN){% endtrans %}</li>
<li>{% trans %}Juan Pablo García Vázquez (UABC){% endtrans %}</li>
<li>{% trans %}Ramon F. Brena (Tecnologico de Monterrey){% endtrans %}</li>
<li>{% trans %}Carlos Eric Galván Tejada (ITESM){% endtrans %}</li>
<li>{% trans %}Jorge Herrea-Tapia (Universitat Politècnica de València){% endtrans %}</li>
<li>{% trans %}Enrique René Bastidas-Puga (UABC){% endtrans %}</li>
<li>{% trans %}Víctor Hugo Díaz Ramírez (CITEDI-IPN){% endtrans %}</li>
<li>{% trans %}Leonardo Trujillo (Instituto Tecnológico de Tijuana){% endtrans %}</li>
<li>{% trans %}José Guadalupe Rodríguez (CINVESTAV-IPN){% endtrans %}</li>
<li>{% trans %}Eusebio Bugarin (Instituto Tecnológico de Ensenada){% endtrans %}</li>
</ul>
<h2>{% trans %}Coordinadores del Consorcio de Posgrado{% endtrans %}</h2>
<ul>
<li>Dr. Juan Pablo García Vázquez (UABC, Universidad Autónoma de Baja California)</li>
<li>Dr. Carlos E. Galván Tejada (UAZ, Universidad Autónoma de Zacatecas)</li>
</ul>
<h2>{% trans %}Coordinadores de carteles{% endtrans %}</h2>
<ul>
<li>Dr. Vidblain Amaro Ortega (ITM, Instituto Tecnológico de Mexicali)</li>
<li>M.C. Verónica Quintero Rosas (ITM, Instituto Tecnológico de Mexicali)</li>
</ul>
{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('committee', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('committee', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('committee', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('committee', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
