{% extends 'base.html.twig' %}


{% block body %}

<h2>{% trans %}Presidentes del Comité Técnico del Programa{% endtrans %}</h2><br>
<ul>
<li>{% trans %}Arnoldo Díaz-Ramirez (Tecnológico Nacional de México/IT de Mexicali){% endtrans %}</li>
<li>{% trans %}Carlos T. Calafate (Universidad Politécnica de Valencia, España){% endtrans %}</li>
</ul>

<h2>{% trans %}Comité Técnico del Programa{% endtrans %}</h2><br>
<ul>
<li>Paolo Spagnolo {% trans %}(Consejo Nacional de Investigación, Italia){% endtrans %}</li>
<li>Pietro Manzoni {% trans %}(Universidad Politécnica de Valencia, España){% endtrans %}</li>
<li>Teodora Sanislav (Technical University of Cluj-Napoca, {% trans %}Rumania{% endtrans %})</li>
<li>Cuauhtemoc Mancillas Lopez (Laboratoire Hubert Curien, University of Lyon at Saint Etienne, {% trans %}Francia){% endtrans %}</li>
<li>{% trans %}Luis Jaimes (Florida Polytechnic University, USA){% endtrans %}</li>
<li>{% trans %}Johann Marquez-Barja (Universidad de Amberes, Bélgica){% endtrans %}</li>
<li>{% trans %}Alan Arnoldo Díaz Montiel (CONNECT Centre, Trinity College Dublin){% endtrans %}</li>
<li>Enrique Hernández-Orallo {% trans %}(Universidad Politécnica de Valencia, España){% endtrans %}</li>
<li>{% trans %}Fabian N. Murrieta-Rico (UABC, México){% endtrans %}</li>
<li>Abelardo Rodriguez-Leon {% trans %}(Instituto Tecnológico de Veracruz, México){% endtrans %}</li>
<li>{% trans %}Luis Martín Sánchez-Adame (CINVESTAV-IPN, México){% endtrans %}</li>
<li>Piedad Garrido Picazo {% trans %}(Universidad de Zaragoza, España){% endtrans %}</li>
<li>{% trans %}Luis Arturo Martinez-Alvarado (UABC, México){% endtrans %}</li>
<li>Maria De Los Angeles Cosio Leon {% trans %}(Universidad Politecnica de Pachuca, México){% endtrans %}</li>
<li>Jose Santa {% trans %}(Universidad de Murcia, España){% endtrans %}</li>
<li>Juan Carlos Cano {% trans %}(Universidad Politécnica de Valencia, España){% endtrans %}</li>
<li>{% trans %}Sonia Mendoza (CINVESTAV-IPN, México){% endtrans %}</li>
<li>{% trans %}Juan Pablo García Vázquez (UABC, México){% endtrans %}</li>
<li>Ramon F. Brena {% trans %}(Tecnologico de Monterrey, México){% endtrans %}</li>
<li>{% trans %}Carlos Eric Galván Tejada (ITESM, México){% endtrans %}</li>
<li>Jorge Herrea-Tapia {% trans %}(Universidad Politécnica de Valencia, España){% endtrans %}</li>
<li>{% trans %}Enrique René Bastidas-Puga (UABC, México){% endtrans %}</li>
<li>{% trans %}Víctor Hugo Díaz Ramírez (CITEDI-IPN, México){% endtrans %}</li>
<li>Leonardo Trujillo {% trans %}(Instituto Tecnológico de Tijuana, México){% endtrans %}</li>
<li>{% trans %}José Guadalupe Rodríguez (CINVESTAV-IPN, México){% endtrans %}</li>
<li>Eusebio Bugarin {% trans %}(Instituto Tecnológico de Ensenada, México){% endtrans %}</li>
<li>Vidblain Amaro Ortega {% trans %}(Instituto Tecnológico de Mexicali, México){% endtrans %}</li>
<li>Mauricio Sánchez {% trans %}(UABC, México){% endtrans %}</li>
</ul>
<h2>{% trans %}Coordinadores del Consorcio de Posgrado{% endtrans %}</h2>
<ul>
<li>Dr. Juan Pablo García Vázquez (UABC, Universidad Autónoma de Baja California)</li>
<li>Dr. Carlos E. Galván Tejada (UAZ, Universidad Autónoma de Zacatecas)</li>
</ul>
<h2>{% trans %}Coordinadores de carteles{% endtrans %}</h2>
<ul>
<li>Dr. Vidblain Amaro Ortega (ITM, Instituto Tecnológico de Mexicali)</li>
<li>M.C. Verónica Quintero Rosas (ITM, Instituto Tecnológico de Mexicali)</li>
</ul>

<h2>{% trans %}Comité Organizador{% endtrans %}</h2><br>
<ul>
<li>
    <b>Director</b><br>
    <p>M.I. Francisco Javier Ortiz Serrano</p>
</li>
<li>
    <b>Subdirector Académico</b><br>
    <p>M.C. Juan Francisco Ibáñez Salas</p>
</li>
<li>
    <b>Presidente del Comité Organizador:</b><br>
    <p>Ing. Fernando Emmanuel Michel Avila, Jefe del Departamento de Sistemas y Computación</p>
</li>
<li>
    <b>Coordinadora de Carnets e Inscripciones</b><br>
    <p>Lic. Marisela Ponce Millanes</p>
</li>
<li>
    <b>Coordinadora de Finanzas:</b><br>
    <p>C.P. Leticia Villafuerte León</p>
</li>
<li>
    <b>Coordinador de Promoción y publicidad :</b><br>
    <p>M.C. Lydia Raquel Esquivel Chavez</p>
</li>
<li>
    <b>Coordinador de Logística:</b><br>
    <p>Lic. Vianey Margarita Soto Prado</p>
</li>
<li>
    <b>Coordinadora de atención a ponentes y conferencistas</b><br>
    <p>M.C. Corina Araceli Ortiz Perez</p>
</li>
<li>
    <b>Coordinador de reconocimientos a ponentes y asistentes</b><br>
    <p>Lic. Claudia Martinez Castillo </p>
</li><li>
    <b>Coordinador de Transporte</b><br>
    <p>Dr. Jesús Francisco Gutiérrez Ocampo</p>
</li><li>
    <b>Web Master:</b><br>
    <p>M.I. Andrés Buelna Benítez</p>
</li>
</li><li>
    <b>Organiza:</b><br>
    <p>Departamento de Sistemas y Computación</p>
</li>
</ul>



{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('committee', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('committee', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('committee', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('committee', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
