{% extends 'base.html.twig' %}


{% block body %}
<h2>{% trans %}Comité Organizador{% endtrans %}</h2><br>
<ul>
<li>{% trans %}Arnoldo Díaz-Ramirez (Tecnológico Nacional de México/IT de Mexicali){% endtrans %}</li>
<li>{% trans %}Carlos T. Calafate (Universidad Politécnica de Valencia, España){% endtrans %}</li>
</ul>

<h2>{% trans %}Comité Revisor{% endtrans %}</h2><br>
<ul>
<li>{% trans %}Juan Carlos Cano (Universidad Politécnica de Valencia, España){% endtrans %}</li>
<li>{% trans %}Baldomero Coll Perales (Miguel Hernandez University, España){% endtrans %}</li>
<li>{% trans %}Juan Pablo García Vázquez (UABC, México){% endtrans %}</li>
<li>{% trans %}Manuel Fogue (Universidad de Zaragoza, España){% endtrans %}</li>
<li>{% trans %}Piedad Garrido Picazo (Universidad de Zaragoza, España){% endtrans %}</li>
<li>{% trans %}Enrique Hernández-Orallo (Universidad Politécnica de Valencia, España){% endtrans %}</li>
<li>{% trans %}Jorge Herrera Tapia (ULEAM, Ecuador){% endtrans %}</li>
<li>{% trans %}Pietro Manzoni (Universidad Politécnica de Valencia, España){% endtrans %}</li>
<li>{% trans %}Johann Marquez-Barja (Universidad de Amberes, Bélgica){% endtrans %}</li>
<li>{% trans %}Francisco J. Martinez (Universidad de Zaragoza, España){% endtrans %}</li>
<li>{% trans %}Julio Sangüesa (Universidad de Zaragoza, España){% endtrans %}</li>
<li>{% trans %}Jose Santa (Universidad de Murcia, España){% endtrans %}</li>
<li>{% trans %}Victor Díaz-Ramírez (CITEDI-IPN, México){% endtrans %}</li>
<li>{% trans %}Luis A. Martínez Alvarado (Instituto Tecnológico de Mexicali, México){% endtrans %}</li>
<li>{% trans %}Vidblain Amaro Ortega  (Instituto Tecnológico de Mexicali, México){% endtrans %}</li>
<li>{% trans %}Abelardo Rodríguez León (Instituto Tecnológico de Veracruz, México){% endtrans %}</li>
<li>{% trans %}Jessica Beltran Marquez (CITEDI-IPN, México){% endtrans %}</li>
<li>{% trans %}Fabian Natanael Murrieta Rico (CICESE, México)
{% endtrans %}</li>
<li>{% trans %}Carlos Lino Ramírez (Instituto Tecnológico de León, México)
{% endtrans %}</li>
<li>{% trans %}Leonardo Trujillo (Instituto Tecnológico de Tijuana, México)
{% endtrans %}</li>
<li>{% trans %}Luis Jaimes (Florida Polytechnic University)
{% endtrans %}</li>
<li>{% trans %}Guillerno Galaviz Yáñez (UABC, México)
{% endtrans %}</li>
<li>{% trans %}Arnulfo Alaniz (Instituto Tecnológico de Tijuana, México)
{% endtrans %}</li>
<li>{% trans %}Alan Díaz-Montiel (CONNECT Center - TCD, Irlanda){% endtrans %}</li>
<li>{% trans %}Francisco Guayante Santacruz (UABC, México)
{% endtrans %}</li>
<li>{% trans %}Felipe Alfonso Ordoñez García (Instituto Tecnológico de Ciudad Guzmán, México)
{% endtrans %}</li>
<li>{% trans %}Enrique René Bastidas Puga (UABC, México)
{% endtrans %}</li>
<li>{% trans %}Andrés Duarte-Villaseñor (Instituto Tecnológico de Tijuana, México)
{% endtrans %}</li>
<li>{% trans %}José Guadalupe Rodríguez García (CINVESTAV-IPN, México)
{% endtrans %}</li>
<li>{% trans %}Sonia G. Mendoza Chapa (CINVESTAV-IPN, México)
{% endtrans %}</li>
<li>{% trans %}Arturo Redondo Galván (Universidad Autónoma del Estado de México)
{% endtrans %}</li>
<li>{% trans %}Luis Martín Sánchez Adame (CINVESTAV-IPN, México)
{% endtrans %}</li>
<li>{% trans %}Cuauhtémoc Mancillas López (CINVESTAV-IPN, México)
{% endtrans %}</li>
<li>{% trans %}Youness El Hamzaoui,  Universidad Autonoma del Carmen en Ciudad del Carmen. Campeche, México{% endtrans %}</li>
<li>{% trans %}María de Lourdes López García  Universidad Autónoma del Estado de México{% endtrans %}</li>
</ul>
<h2>{% trans %}Coordinadores de carteles{% endtrans %}</h2>
<ul>
<li>M.C. Verónica Quintero Rosas (ITM, Instituto Tecnológico de Mexicali)</li>
<li>Dr. Juan Pablo García Vázquez (UABC, Universidad Autónoma de Baja California)</li>
</ul>
<h2>{% trans %}Coordinadores del Consorcio de Posgrado{% endtrans %}</h2>
<ul>
<li>Dr. Juan Pablo García Vázquez (UABC, Universidad Autónoma de Baja California)</li>
<li>M.C. Verónica Quintero Rosas (ITM, Instituto Tecnológico de Mexicali)</li>
</ul>
{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('committee', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('committee', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('committee', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('committee', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
