{% extends 'base.html.twig' %}

{% block slider2 %}
  <div class="slider_area">
    <div class="slider">
      <ul class="bxslider">
        <li><img src="{{ asset('bundles/app/images/1.jpg') }}" alt="" title="Slider caption text" /></li>
        <li><img src="{{ asset('bundles/app/images/2.jpg') }}" alt="" title="Slider caption text" /></li>
        <li><img src="{{ asset('bundles/app/images/3.jpg') }}" alt="" title="Slider caption text" /></li>
      </ul>
    </div>
  </div>
{% endblock %}
{% block body %} 
<h2>{% trans %}Bienvenido a la ICCNA 2018{% endtrans %}!</h2>
{#<a href="{{asset('bundles/app/AvancesCientificosTecnologicosRedesComputadoras.pdf')}}">{% trans %}Clic aquí para descargar las Memorias de la ICCNA{% endtrans %}</a><br><br>#}
{% trans %}Las redes de computadoras, ya sea cableadas o inalámbricas, tienen cada día un lugar más relevante en el mundo actual. Las redes sociales, los servicios de transmisión de audio o video o el comercio electrónico son algunos ejemplos de aplicaciones que forman parte de la vida cotidiana. Sin embargo, se prevé que las redes de computadoras tengan una mucha mayor presencia en el futuro, a través de aplicaciones de la Internet de las Cosas o los Sistemas Ciber-Físicos, por mencionar algunos.{% endtrans %}<br><br>
{% trans %}La Conferencia Internacional en Aplicaciones de las Redes de Computadoras (ICCNA) busca ser un foro para que investigadores de diversas partes del país y del mundo puedan compartir sus resultados y experiencias relacionadas con las aplicaciones de las redes de computadoras.{% endtrans %}<br><br>
{% trans %}La ICCNA 2018 presentará los más recientes desarrollos y soluciones técnicas a problemas relacionados con las aplicaciones de las redes computacionales, así como aplicaciones y servicios novedosos. La conferencia incluye ponencias arbitradas para presentarse en sesiones técnicas, presentación de carteles, consorcio doctoral y de maestría, así como sesión de demostraciones. Por tal motivo, se hace una atenta invitación para que investigadores de área de las redes de computadoras, redes inalámbricas de sensores, la Internet de las cosas, ciudades inteligentes, sistemas ciber-físicos, telemedicina, eSalud, vida cotidiana asistida por el entorno, manejo de grandes volúmenes de datos, computación ubicua y procesamiento de señales, entre otras, envíen sus contribuciones a la conferencia.{% endtrans %}<br><br>
{% trans %}Los artículos aceptados para ser presentados en las sesiones técnicas serán publicados en la Revista Research in Computer Science, ISSN 1870-4069, publicada por el Instituto Politécnico Nacional.{% endtrans %}

{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('homepage', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('homepage', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('homepage', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('homepage', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
