{% extends 'base.html.twig' %}
{% block body %}
<h1>{% trans %}Por ser anunciado
{% endtrans %}</h1>
<div class="row">
    <div class="col-md-4">
        <img src="{{asset('bundles/app/images/wwang.jpg')}}" alt="" class="img-rounded img-responsive" width="200px" height="200px"/>
        <h4>Dr. Wei Wang</4>
    </div >
    <div class="col-md-8">
        <small>{% trans %}El Dr. Wei Wang es un profesor asociado de Ciencias Computacionales en la Universidad Estatal de San Diego (SDTU). Se unió a esta universidad en agosto del 2014. Fue profesor asistente de Ciencias Computacionales en la Universidad Estatal de Dakota del Sur desde enero del 2010, hasta mayo del 2014. Recibio su grado de Doctor en Ingeniería en Computación con un énfasis significante en Ciencias Computacionales en la Universidad de Nebraska - Lincoln, NE, USA, en diciembre del 2009. Trabajo como Ingeniero de Software con Nokia Siemens Networks Ltd en 2005. Sus intereses de investigación incluyen Comunicación Inalámbrica Multimedia, problemas de QoE-QoS, economía de redes, y problemas de investigación en IoT.{% endtrans %}</small>
    </div>
</div >
<div class="row">
<div class="col-md-12">
<small>
{% trans %}El trabaja como editor asociado de Wiley Security and Communication Networks Journal (SCIE-Index), editor invitado de multiples journals y ediciones especiales tales como IEEE ACCESS, Springer MONET, etc., el co-director web de IEEE INFOCOM 2016-18, co-director del simposio de IEEE ICC-NGNI 2018, simposio de ICNC-MCC 2018, ACM SAC 2014-19, director del programa de ACM RACS 2014-17, co-director del workshop de ICST BodyNets 2013, fue miembro del Comite Tecnico del Programa (TPC) para muchas conferencias internacionales, tales como IEEE INFOCOM, GLOBECOM, e ICC, el co-director de la junta de revision de IEEE MMTC 2017-2018. Es un miembro senior de IEEE.{% endtrans %}
</small>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h4>{% trans %}Título: Asignación de recursos con evaluacion de medios inteligente en comunicacion inalambrica multimedia e IoTs.{% endtrans %}</h4>
<br>
<small>
{% trans %}Con la popularidad de varios servicios de datos y contenido proveídos por streaming multimedia inalámbrico e IoT, nuevos retos han sido planteados para tratar eficientemente con el gran trafico de datos generado por multimedia con recursos de comunicación inalámbrica limitados. Esta charla da una visión general de los retos y oportunidades en el diseño de sistemas de comunicación inalámbrica modernos para acomodar servicios de datos multimedia intensivos, también se provee una reflexión de retos y oportunidades de asignación de recursos multimedia modernos. La charla inicia con varias aplicaciones multimedia inalámbricas, tales como tele presencia unificando IoT y realidad virtual, vehículos conectados, y cuidado de la salud inteligente guiados por streaming multimedia. Después la charla introduce la tendencia y evolución de economía de redes y el concepto de evaluación de medios inteligente para comunicación multimedia inalámbrica. Factores tales como potencia de comunicación, estado del canal, y requerimientos QoE son considerados cuando se describe las funciones de utilidad. Finalmente esta charla discutite algunas de las perspectivas de evaluación inteligente de medios en comunicaciones multimedia inalámbricas futuras.{% endtrans %}
</small>
</div>
</div>
{#
<hr>
<div class="row">
    <div class="col-md-4">
        <img src="{{asset('bundles/app/images/Jose_Macias.jpg')}}" alt="" class="img-rounded img-responsive" width="200px" height="200px"/>
        <h4>Dr. José Antonio García Macías</4>
    </div>
    <div class="col-md-8">
        <small>{% trans %}Obtuvo el grado de Doctor con especialidad en Cómputo y Comunicaciones, por parte del Institut National Polytechnique de Grenoble (INPG), Francia. Tiene vasta experiencia trabajando como consultor para organizaciones gubernamentales, educativas y del sector privado. Es autor de varias publicaciones arbitradas. Ha dirigido más de 30 tesis de posgrado y ha sido coordinador de proyectos nacionales e internacionales. Actualmente es investigador titular del Departamento de Ciencias de la Computación del CICESE y miembro del Sistema Nacional de Investigadores (SNI) nivel 1.{% endtrans %}</small>
    </div>
</div>
<div class="row">
<div class="col-md-12">
    <small>
    {% trans %}También forma parte del Comité Técnico-Académico de la Red Temática Nacional en Redes y Sistemas de Comunicaciones del CONACyT y es miembro regular de la Academia Mexicana de Computación (AMEXCOMP). Sus áreas de interés son el cómputo ubicuo, los protocolos y sistemas de Internet de nueva generación, así como el uso de la tecnología para tratar de entender fenómenos urbanos.{% endtrans %}
    </small>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h4>{% trans %}Título: Ciudades Inteligentes: ¿también para nosotros?{% endtrans %}</h4>
<br>
<small>
{% trans %}En esta charla se abordará primeramente el tema de las ciudades inteligentes, presentando diferentes visiones que se tienen al respecto. Se cuestionará luego si las iniciativas comúnmente propuestas son apropiadas para todo tipo de contextos, en particular para regiones en vías de desarrollo. Por último, se presentará el concepto de inteligencia vecinal, en el cual hemos estado trabajando y aplicando desde hace algunos años.{% endtrans %}
</small>
</div>
</div>
<hr>

<div class="row">
    <div class="col-md-4">
        <img src="{{asset('bundles/app/images/victor_hugo.jpg')}}" alt="" class="img-rounded img-responsive" width="200px" height="200px"/>
        <h4>Dr. Victor Hugo Díaz-Ramírez</4>
    </div>
    <div class="col-md-8">
        <small>{% trans %}Obtuvo el grado de Doctor en Ciencias en Ciencias de la Computación por parte del Centro de Investigación Científica y de Educación Superior de Ensenada (CICESE) en el año 2007. Actualmente, se desempeña como profesor investigador en el Centro de Investigación y Desarrollo de Tecnología Digital del Instituto Politécnico Nacional (CITEDI-IPN) desde el año 2009. Es autor de numerosos trabajos científicos publicados en revistas, capítulos de libros, y en memorias de congresos internacionales y nacionales. Ha fungido como responsable técnico de varios proyectos de investigación financiados, tiene experiencia en la dirección de tesis de doctorado y maestría, y cuenta con obras registradas bajo derechos de autor y solicitudes de registro de patente.{% endtrans %}</small>
    </div>
</div>
<div class="row">
<div class="col-md-12">
    <small>
    {% trans %}Sus intereses de investigación incluyen diseño de algoritmos localmente adaptativos para procesamiento de señales e imágenes, reconocimiento confiable de objetos 2D y 3D en imágenes, diseño de algoritmos para el rastreo de objetos en tiempo real, métodos formales para evaluación de desempeño de algoritmos adaptativos en sistemas digitales de alto desempeño, y desarrollo de sistemas inmersos para procesamiento de imágenes. Es miembro del Sistema Nacional de Investigadores (SNI) Nivel I. Es editor asociado de la revista científica "Optical Engineering" de la Sociedad Internacional para Óptica y Fotónica (SPIE). Forma parte del comité científico de la conferencia "Optics and Photonics for Information Processing" del congreso internacional SPIE Optics + Photonics. Es miembro de la Red de Expertos en Robótica y Mecatronica (RERyM) del IPN.{% endtrans %}
    </small>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h4>{% trans %}Título: Mejora de visibilidad en presencia de dispersión óptica{% endtrans %}</h4>
<br>
<small>
{% trans %}En aplicaciones de visión por computadora es de gran relevancia obtener una visión clara de la escena observada principalmente, en aplicaciones al aire libre. Es común que las escenas en la intemperie resulten degradadas por la acción de un medio dispersivo  en la atmósfera. La presencia de neblina o smog son ejemplos de fenómenos que reducen considerablemente la visibilidad en una escena debido a que producen dispersión óptica. En esta platica, se presenta el diseño de un sistema computacional para remover los efectos de dispersión óptica en una secuencia de imágenes monoculares. El sistema, estima la función de transmisión del medio a partir de una imagen degradada utilizando vecindarios adaptativos locales y el calculo de estadísticas de orden prioritario. Posteriormente, una imagen con visibilidad mejorada es obtenida utilizando la función de transmisión estimada y un modelo físico de restauración basado en la formación de la imagen. El desempeño del sistema propuesto es evaluado y comparado con aquel de métodos similares del estado del arte en términos de métricas objetivas. Debido a su eficiencia computacional el sistema propuesto es capaz de operar a alta velocidad y es viable para utilizarse en aplicaciones de tiempo real.{% endtrans %}
</small>
</div>
</div>
<hr>

<div class="row">
    <div class="col-md-4">
        <img src="{{asset('bundles/app/images/imelda.png')}}" alt="" class="img-rounded img-responsive" width="200px" height="200px"/>
        <h4>{% trans %}Dra. Yesica Imelda Saavedra Benítez{% endtrans %}</4>
    </div>
    <div class="col-md-8">
        <small>{% trans %}Yesica Imelda Saavedra Benítez, es Directora de Posgrado, Investigación e Innovación del Tecnológico Nacional de México. Se graduó en Ingeniería en Sistemas Computacionales en el Instituto Tecnológico de Toluca. Recibió su grado de Doctor en Informática en la Universidad de Versalles, en Versalles, Francia. Sus áreas de interés incluyen redes enmalladas, protocolos de red y seguridad en redes. Es miembro del Sistema Nacional de Investigadores y pertenece al núcleo académico de la Maestría en Ciencias de Ingeniería en el Instituto Tecnológico de Toluca. Es miembro de IEEE, IEEE Communication Society y ACM.{% endtrans %}</small>
    </div>
</div>
<div class="row">

</div>
<div class="row">
<div class="col-md-12">
<h4>{% trans %}Título: ¿Por qué realizar estudios de Posgrado?{% endtrans %}</h4>
<br>
<small>
{% trans %}Formemos talentos para llegar a ser un país líder. Cuando se invierte en conocimiento se dará oportunidad a una mejor calidad de vida. En el caso del Tecnológico Nacional de México, tiene siete sectores estratégicos en los que existe mayor posibilidad de crecimiento: Aeronáutico, Agroindustrial, Automotriz, Nanotecnología y Nuevos materiales, Ciencias Ambientales y Tecnologías de Información y Comunicación. Se presentarán las opciones de becas para realizar estudios de posgrado.{% endtrans %}
</small>
</div>
</div>
<hr>

<div class="row">
    <div class="col-md-4">
        <img src="{{asset('bundles/app/images/Mario.png')}}" alt="" class="img-rounded img-responsive" width="200px" height="200px"/>
        <h4>Dr. Mario Siller</4>
    </div>
    <div class="col-md-8">
        <small>{% trans %}Investigador Titular del Cinvestav Guadalajara miembro de los grupos de Ciencias de la Computación y Telecomunicaciones. Durante el periodo 2015-2016 fue Profesor Asociado Visitante en el MIT Media Lab. Durante su visita académica, trabajó en el área de Ciencias de la Ciudad estudiando el comportamiento complejo emergente y agregado de las ciudades, desde la perspectiva de Ingeniería de Sistemas y Teoría de Sistemas Complejos. Así mismo, ha explorado y desarrollado nuevos diseños y algoritmos de arquitecturas de sistemas TIC en el contexto de Ciudades e IoT.  Sus casos de estudio se centran en los dominios de agricultura urbana y sistemas de transporte inteligentes.{% endtrans %}</small>
    </div>
</div>
<div class="row">
<div class="col-md-12">
    <small>
    {% trans %}El Dr. Siller ha dirigido y codirigido tesis de Maestría y Doctorado en las áreas de Ciencias de la Ciudad, IoT, Diseño, Análisis y Evaluación de Desempeño de Sistemas y Protocolos en Red, Comunicaciones Multimedia, Gestión de QoS, Redes de Sensores Inalámbricos, Algoritmos de Localización, Aprendizaje Automático y Sistemas Distribuidos. Ha desarrollado tecnología para empresas de software y sistemas de transporte inteligentes, entre otros.
    {% endtrans %}<br><br>
    {% trans %}Recibió el grado de ingeniero en Sistemas Electrónicos por el ITESM Campus Monterrey (Tecnológico de Monterrey), la Maestría en Ciencias en Telecomunicaciones y Sistemas de Información y su PhD. en Ingeniería en Sistemas Electrónicos de la Universidad de Essex en Colchester, Inglaterra. Previo a sus estudios de posgrado, trabajó para varias compañías de telecomunicaciones en México como ingeniero de Soporte y Gestión de Redes de Telecomunicaciones, Ingeniero Senior de Sistemas y Analista Senior de Sistemas Integrados de Gestión de Redes. Es miembro de la IEEE y del Sistema Nacional de Investigadores (SNI) nivel 1, parte del Comité Técnico-Académico de la Red Temática de CONACyT en Sistemas y Redes de Próxima Generación y miembro regular de la Academia Mexicana de Computación (AMEXCOMP).
    {% endtrans %}
    </small>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h4>{% trans %}Título: Antes y después del IoT{% endtrans %}</h4>
<br>
<small>
{% trans %}Mucho se ha dicho y hecho alrededor del tema del Internet de la Cosas (IoT) por distintos actores como academia, empresas, gobierno, organizaciones internacionales y nacionales de estandarización, etc.  Gracias a toda esta participación y entusiasmo nos encontramos ante una “disciplina emergente” que transciende fronteras y áreas de conocimiento tradicionales e inclusive detona nuevas.  Todo esto ha generado un entramado difícil de descifrar por quienes se forman para esta disciplina, emprenden en nuevas economías y generan políticas públicas que regulan y al mismo tiempo catalizan este proceso.{% endtrans %}<br><br>
{% trans %}Esta plática intenta dar un poco de claridad y entendimiento a este entramado, primero partiendo del marco teórico conceptual vigente y centrándolo alrededor de un análisis en retrospectiva desde su origen, para luego en un giro de 180 grados, continuar sobre lo que posiblemente suceda después del IoT.  Finalmente, se presentarán algunos ejemplos de aplicaciones y sistemas de dominios tales como ciudades inteligentes, movilidad, agronomía e industria.{% endtrans %}
</small>
</div>
</div>
#}
{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('keynotes', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('keynotes', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('keynotes', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('keynotes', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
