{% extends 'base.html.twig' %}
{% block body %}
{#<h1>{% trans %}Por ser anunciado
{% endtrans %}</h1>#}
<div class="row">
    <div class="col-md-4">
        <img src="{{asset('bundles/app/images/wwang.jpg')}}" alt="" class="img-rounded img-responsive" width="200px" height="200px"/>
        <h4>Dr. Wei Wang</4>
    </div >
    <div class="col-md-8">
        <small>{% trans %}El Dr. Wei Wang es un profesor asociado de Ciencias Computacionales en la Universidad Estatal de San Diego (SDTU). Se unió a esta universidad en agosto del 2014. Fue profesor asistente de Ciencias Computacionales en la Universidad Estatal de Dakota del Sur desde enero del 2010, hasta mayo del 2014. Recibio su grado de Doctor en Ingeniería en Computación con un énfasis significante en Ciencias Computacionales en la Universidad de Nebraska - Lincoln, NE, USA, en diciembre del 2009. Trabajo como Ingeniero de Software con Nokia Siemens Networks Ltd en 2005. Sus intereses de investigación incluyen Comunicación Inalámbrica Multimedia, problemas de QoE-QoS, economía de redes, y problemas de investigación en IoT.{% endtrans %}</small>
    </div>
</div >
<div class="row">
<div class="col-md-12">
<small>
{% trans %}El trabaja como editor asociado de Wiley Security and Communication Networks Journal (SCIE-Index), editor invitado de multiples journals y ediciones especiales tales como IEEE ACCESS, Springer MONET, etc., el co-director web de IEEE INFOCOM 2016-18, co-director del simposio de IEEE ICC-NGNI 2018, simposio de ICNC-MCC 2018, ACM SAC 2014-19, director del programa de ACM RACS 2014-17, co-director del workshop de ICST BodyNets 2013, fue miembro del Comite Tecnico del Programa (TPC) para muchas conferencias internacionales, tales como IEEE INFOCOM, GLOBECOM, e ICC, el co-director de la junta de revision de IEEE MMTC 2017-2018. Es un miembro senior de IEEE.{% endtrans %}
</small>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h4>{% trans %}Título: Asignación de recursos con evaluacion de medios inteligente en comunicacion inalambrica multimedia e IoTs.{% endtrans %}</h4>
<br>
<small>
{% trans %}Con la popularidad de varios servicios de datos y contenido proveídos por streaming multimedia inalámbrico e IoT, nuevos retos han sido planteados para tratar eficientemente con el gran trafico de datos generado por multimedia con recursos de comunicación inalámbrica limitados. Esta charla da una visión general de los retos y oportunidades en el diseño de sistemas de comunicación inalámbrica modernos para acomodar servicios de datos multimedia intensivos, también se provee una reflexión de retos y oportunidades de asignación de recursos multimedia modernos. La charla inicia con varias aplicaciones multimedia inalámbricas, tales como tele presencia unificando IoT y realidad virtual, vehículos conectados, y cuidado de la salud inteligente guiados por streaming multimedia. Después la charla introduce la tendencia y evolución de economía de redes y el concepto de evaluación de medios inteligente para comunicación multimedia inalámbrica. Factores tales como potencia de comunicación, estado del canal, y requerimientos QoE son considerados cuando se describe las funciones de utilidad. Finalmente esta charla discutite algunas de las perspectivas de evaluación inteligente de medios en comunicaciones multimedia inalámbricas futuras.{% endtrans %}
</small>
</div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
        <img src="{{asset('bundles/app/images/conf2.jpg')}}" alt="" class="img-rounded img-responsive" width="200px" height="200px"/>
        <h4>Dr. José Alberto López Fernández</4>
    </div>
    <div class="col-md-8">
        <small>{% trans %}El Dr. José Alberto López Fernández es egresado del Instituto Tecnológico de Toluca, donde obtuvo el título de Ingeniero en Electrónica. Trabajó, como Ingeniero de Mantenimiento en la empresa Grupo Corporativo Papelera de 2008 a 2009. En abril de 2015 obtuvo el grado de Doctor en Ciencias en Ingeniería Electrónica por el Instituto Tecnológico de Toluca. Durante 2014-2016 se desempeñó como Profesor de Tiempo Completo en el Tecnológico de Estudios Superiores de Tianguistenco, donde obtuvo el Reconocimiento al Perfil Deseable de PRODEP. Sus Intereses de Investigación se enfocan a los convertidores estáticos multinivel aplicados a las descargas de barrera dieléctrica y al modelado y control de la electrónica de potencia.{% endtrans %}</small>
    </div>
</div>
<div class="row">
<div class="col-md-12">
    <small>
    {% trans %}Desde 2017 trabaja como Jefe de Posgrado adscrito a la División de Posgrado, Investigación e Innovación del Tecnológico Nacional de México (TecNM). Donde se encarga de coordinar los procesos asociados a la prestación de servicios de educación a nivel posgrado que ofrecen los institutos, unidades y centros, del TecNM.{% endtrans %}
    </small>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h4>{% trans %}Título: La oferta educativa de Posgrado en el Tecnológico Nacional de México{% endtrans %}</h4>
<br>
<small>
{% trans %}El TecNM es la Institución de Educación Superior, más grande de Latinoamérica con una matrícula superior a los 600,000 estudiantes distribuidos en 254 Institutos o Centros y cuenta con una oferta educativa a nivel posgrado de más de 250 programas, de los cuales 132 se encuentran en el Padrón Nacional de Posgrados de Calidad. Esta charla tiene como objetivo difundir la oferta educativa a nivel Posgrado del TecNM, donde se presentará las orientaciones, modalidades y áreas de conocimiento que actualmente se ofertan. Posteriormente se presentarán los principales apoyos para estudiar un posgrado como lo son; las Becas Nacionales (Escolarizada, No Escolarizada y Posgrados con la Industria), Becas de Movilidad, Becas SENER y el programa de 1000 Jóvenes en la Ciencia. Se abordará aspectos desde; requisitos, procedimiento para el otorgamiento y conceptos que cubren las becas. Finalmente se hará énfasis en los programas de posgrado de las áreas de ingeniería, electrónica y computación para invitar al público a integrarse a los programas de posgrado del TecNM.
{% endtrans %}
</small>
</div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <img src="{{asset('bundles/app/images/conf3.jpg')}}" alt="" class="img-rounded img-responsive" width="200px" height="200px"/>
        <h4>Dr. Leonardo Trujillo</4>
    </div>
    <div class="col-md-8">
        <small>{% trans %}Leonardo Trujillo Recibió una MSc. en Informática (2004) del Instituto Tecnológico de Tijuana y PhD. en Ciencias de la Computación del centro de investigación CICESE, en Ensenada México (2008). Actualmente es profesor en el Instituto Tecnológico de Tijuana (ITT) en México y trabaja en los programas de posgrado en Ciencias de la Ingeniería, donde es investigador principal del laboratorio de investigación TREE-LAB. Su principal interés es desarrollar algoritmos de modelado de datos y aprendizaje automático basados en GP y computación evolutiva. Tiene más de 50 artículos publicados en revistas, 22 capítulos de libros, 60 documentos de conferencias y 3 libros editados de la serie de talleres NEO que él co-preside. También forma parte del comité editorial de varias revistas de prestigio, y actualmente es miembro de varios proyectos de investigación y desarrollo, trabajando con fondos públicos (CONACYT, TECNM) y privados.{% endtrans %}</small>
    </div>
</div>
<div class="row">
<div class="col-md-12">
    <small>
    
    </small>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h4>{% trans %}Título: Mejora automática de un sistema SLAM mediante la manipulación del código fuente con un algoritmo evolutivo.{% endtrans %}</h4>
<br>
<small>
{% trans %}Genetic Improvement (GI) realiza una búsqueda en el nivel del código fuente para encontrar la mejor variante de un sistema de base que mejore las propiedades no funcionales y a la vez que mantiene la funcionalidad, con resultados notables en varios dominios. Hay muchos aspectos de este enfoque general que actualmente se están explorando. En particular, este trabajo se relaciona con la forma en que se guía la búsqueda para explorar de manera eficiente el espacio de búsqueda de posibles versiones de software en las que opera GI. La propuesta es integrar Novelty Search (NS) en el marco de GISMOE GI para mejorar KinectFusion, que es un sistema de Localización y Mapeo Simultáneo basado en la visión (SLAM) que se usa para realidad aumentada, navegación autónoma de vehículos y muchas otras aplicaciones del mundo real. Este es uno de un pequeño conjunto de trabajos que han combinado con éxito NS con un sistema GP, y la primera vez que se ha utilizado para mejorar el software. Para lograr esto, proponemos un nuevo descriptor de comportamiento para los algoritmos de SLAM, basado en una evaluación comparativa de vanguardia y presentamos resultados que muestran que NS puede producir mejoras significativas en una configuración de IG, al considerar el tiempo de ejecución y la estimación de la trayectoria como la Principales criterios de rendimiento.{% endtrans %}
</small>
</div>
</div>
<hr>



{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('keynotes', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('keynotes', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('keynotes', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('keynotes', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
