{% extends 'base.html.twig' %}
{% block body %}
<h1>{% trans %}Programa General{% endtrans %}</h1>
<div class="popular">
  <h2 align="center" class="title">{% trans %}Martes 7 de Noviembre{% endtrans %}</h2>
  <ul>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Centro de Convenciones{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>8:30 – 14:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Registro{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>9:00 – 9:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Ceremonia de Inauguración{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>9:30 – 11:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:00 – 11:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Receso para café{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:30 – 14:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Consorcio de Posgrado{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>14:00 – 16:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Comida{% endtrans %}</p>
        </div>

      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:00 – 17:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Consorcio de Posgrado{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:30 – 19:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Salón Guaycura{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>19:00 - 21:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Presentación de Carteles{% endtrans %}</p>
        </div>
      </div>
    </li>
  </ul>

  <h2 align="center" class="title">{% trans %}Miercoles 8 de Noviembre{% endtrans %}</h2>
  <ul>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Centro de Convenciones{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>8:30 – 14:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Registro{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>9:00 – 10:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>10:30 – 11:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Receso para café{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:00 – 14:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Presentaciones de Ponencias{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>14:00 – 16:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Comida{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:00 - 17:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Presentaciones de Ponencias{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:30 – 19:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Salón Mexicali{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>19:00 - 21:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Cena de Gala{% endtrans %}</p>
        </div>
      </div>
    </li>
  </ul>

  <h2 align="center" class="title">{% trans %}Jueves 9 de Noviembre{% endtrans %}</h2>
  <ul>
        <li>
          <div class="single_popular">
            <p><strong>{% trans %}Centro de Convenciones{% endtrans %}</strong></p>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>9:00 – 11:30</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Presentaciones de Ponencias{% endtrans %}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>11:30 - 12:00</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Receso para café{% endtrans %}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>12:00 – 13:30</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
            </div>
          </div>
        </li>
    </ul>
</div>

{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('program', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('program', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('program', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('program', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
