{% extends 'base.html.twig' %}
{% block body %}
<h1>{% trans %}Programa General{% endtrans %}</h1>
<div class="popular">
  <h2 align="center" class="title">{% trans %}Martes 6 de Noviembre{% endtrans %}</h2>
  <ul>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Centro de Convenciones{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>09:00 – 10:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Registro{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>10:00 – 10:20</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Ceremonia de Inauguración{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>10:30 – 12:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Panel{% endtrans %}</p>
        </div>
      </div>
      <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong><u>
                {% trans %}¿Cómo debe ser la relación Empresa – Escuela de Posgrado para potenciar el desarrollo tecnológico del país?{% endtrans %}
              </u></strong>
            </p>
            <p>
              {% trans %}Panelistas{% endtrans %}:<br>
              Ing. Arturo Arballo Luján.- Presidente de Comité de Vinculación de Mexicali<br>
              Lic. Noé Roteran Saenz Estrada.- Vicepresidente CANIETI Noroeste<br>
              Dr. José Alberto López Fernández.- Jefe de Investigación del Tecnológico Nacional de México<br>
              Dr. Daniel Hernández Balbuena.- Director de la Facultad de Ingeniería de la UABC<br>
            </p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>12:00 – 12:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Receso para café{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>12:30 – 14:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
      <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                <u>{% trans %}Implicaciones de la Digitalización: los retos y oportunidades de la cuarta revolución industrial{% endtrans %}</u>
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>Dr. Arturo Serrano Santoyo</strong>, {% trans %}Investigador del Centro de Investigación Científica y de Educación Superior de Ensenada, Baja California{% endtrans %}
            </p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>14:00 – 16:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Comida{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p align="center"><strong>{% trans %}Consorcio de Posgrado{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:00 – 16:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Navegación autónoma de un robot utilizando una guía visual{% endtrans %}</u></p>
            <p><small>
            Marisol Rodríguez (CITEDI-IPN), <br>Víctor H. Díaz-Ramírez (CITEDI-IPN)
            </small></p>
        </div>
      </div>
    </li>
    <li>
    <div class="single_popular">
      <div class="col-md-3">
          <p>16:30 – 17:00</p>
      </div>
      <div class="col-md-9">
          <p><u>{% trans %}Control autónomo para dron a través de un kernel de tiempo-real{% endtrans %}</u></p>
          <p><small>
          Diego A. Saldaña Higareda (Tecnológico Nacional de México/IT de Mexicali), <br>Edler U. Meza Luján (Tecnológico Nacional de México/IT de Mexicali),<br> Verónica Quintero Rosas (Tecnológico Nacional de México/IT de Mexicali),<br>Arnoldo Diaz-Ramirez (Tecnológico Nacional de México/IT de Mexicali)
          </small></p>
      </div>
    </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:00 – 17:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Estimación del rendimiento de la palma datilera utilizando visión computacional y aprendizaje automático{% endtrans %}</u></p>
            <p><small>
            Blanca Dalila Pérez Pérez (Universidad Autónoma de Baja California), <br>Juan Pablo García-Vázquez (Universidad Autónoma de Baja California), <br>Ricardo Salomón Torres (Universidad Autónoma de Baja California)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:30 – 18:00</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Modelado basado en agentes para la gestión de flujos de señales biomédicas en una red de sensores{% endtrans %}</u></p>
            <p><small>
            Miguel A.  López-Luviano (Centro de Investigación Científica y de Educación Superior de Ensenada), <br>J. A. Carrera Melchor (Instituto Tecnológico Superior de Misantla), <br>Conte-Galván Roberto (Centro de Investigación Científica y de Educación Superior de Ensenada), <br>Karina Raya Díaz  (Universidad Autónoma de Baja California)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>18:00 – 18:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Algoritmo de procesamiento de imágenes para navegación autónoma de un robot móvil usando técnicas de localización y mapeo simultáneo{% endtrans %}</u></p>
            <p><small>
            Martín González Ruiz CITEDI-IPN), <br>Víctor H. Díaz-Ramírez (CITEDI-IPN)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>18:45 - 20:00</p>
        </div>
        <div class="col-md-9">
            <p><b>{% trans %}Presentación de Carteles{% endtrans %}</b></p>
        </div>
      </div>
    </li>
  </ul>

  <h2 align="center" class="title">{% trans %}Miercoles 7 de Noviembre{% endtrans %}</h2>
  <ul>
    <li>
      <div class="single_popular">
        <p align="center"><strong>{% trans %}Presentaciones de Ponencias{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>10:00 – 10:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Telemedicine Networks: Integrating Different Health Technologies Towards a Common Goal{% endtrans %}</u></p>
            <p><small>
            Roberto Conte-Galván (CICESE Research Center), <br>Arturo Serrano-Santoyo (CICESE Research Center), <br>Verónica Rojas-Mendizabal CETYS University)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>10:30 – 11:00</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Detección de Sonidos Torácicos Aplicando VAD{% endtrans %}</u></p>
            <p><small>
            Julio A. Valdez (Tecnológico Nacional de México/I.T. Mexicali), <br>Pedro Mayorga (Tecnológico Nacional de México/I.T. Mexicali), <br>Gilberto Chávez  (Tecnológico Nacional de México/I.T. Mexicali), <br>Christopher Druzgalski (California State University, USA), <br>Vesna Zeljkovic (The Lincoln University, Pennsylvania, USA)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:00 – 11:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}A preliminary approach to find linked determinants between diabetes and caries using genetic algorithms{% endtrans %}</u></p>
            <p><small>
            Laura A. Zanella-Calzada (Universidad Autónoma de Zacatecas), <br>Carlos E. Galván-Tejada (Universidad Autónoma de Zacatecas), <br>Nubia Chavez-Lamas (Universidad Autónoma de Zacatecas), <br>Miguel A. Cid-Baez (Universidad Autónoma de Zacatecas), <br>M. del Carmen Gracía-Cortés (Universidad Autónoma de Zacatecas)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:30 – 12:00</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Componente del Internet de las Cosas para la Detección de  Patrones de Deambulaje en Pacientes con Demencia{% endtrans %}</u></p>
            <p><small>
            Héctor E. Villarreal Rodríguez (Tecnológico Nacional de México/IT de Mexicali), <br>Mayra L. Lizárraga Camberos (Tecnológico Nacional de México/IT de Mexicali), <br>Arnoldo Díaz-Ramírez (Tecnológico Nacional de México/IT de Mexicali), <br>Verónica Quintero Rosas (Tecnológico Nacional de México/IT de Mexicali), <br>Juan Pablo García-Vázquez (Universidad Autónoma de Baja California)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>12:00 – 12:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Receso para café{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>12:30 – 14:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
      <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                <u>{% trans %}Resource Allocation with Smart Media Pricing in Wireless Multimedia Communications and IoTs{% endtrans %}</u>
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>Dr. Wei Wang</strong>, {% trans %}San Diego State University{% endtrans %}
            </p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>14:00 – 16:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Comida{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p align="center"><strong>{% trans %}Presentaciones de Ponencias{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:00 – 16:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Sujeción de objetos virtuales mediante un gesto manual usando Kinect y software libre{% endtrans %}</u></p>
            <p><small>
            Alexis Jair  Urquijo-Brito (Tecnológico Nacional de México/IT de Veracruz), <br>Abelardo Rodriguez-León (Tecnológico Nacional de México/IT de Veracruz), <br>Juan Carlos Prince-Avelino (Tecnológico Nacional de México/IT de Veracruz), <br>Guillermo E. Ovanco-Chacón (Tecnológico Nacional de México/IT de Veracruz), <br>Carlos J. Genis-Triana (Tecnológico Nacional de México/IT de Veracruz)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:30 – 17:00</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Circuito Cuántico Shor Qiskit{% endtrans %}</u></p>
            <p><small>
            Jesús Álvarez Cedillo (UPIICSA-IPN), <br>Raúl Junior Sandoval (UPIICSA-IPN), <br>Teodoro Álvarez Sánchez (CITEDI-IPN), <br>Adriana Nava Vega (Universidad Autónoma de Baja California), <br>Jacobo Sandoval Gutiérrez (Universidad Autónoma Metropolitana)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:30 – 18:00</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Antena de Parche Semicircular con Elemento Parásito para CanSat{% endtrans %}</u></p>
            <p><small>
            Cruz Ángel Figueroa Torres (Universidad Autónoma de Baja California), <br>José Luis Medina Monroy (Centro de Investigación Científica y de Educación Superior de Ensenada), <br>Andrés Calvillo Téllez (CITEDI-IPN)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>18:00 – 18:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Diseño de un Robot Rescatista para Terremotos en México{% endtrans %}</u></p>
            <p><small>
            Jesús Álvarez Cedillo (UPIICSA-IPN), <br>Teodoro Álvarez Sánchez (CITEDI-IPN), <br>Raúl Junior Sandoval UPIICSA-IPN),<br>Jacobo  Sandoval Gutiérrez (Universidad Autónoma Metropolitana),<br>Adriana Nava Vega (Universidad Autónoma de Baja California)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>18:30 – 18:45</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Receso para café{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>18:45 – 20:15</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Conferencia Magistral{% endtrans %}</u></p>
        </div>
      </div>
      <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                <u>{% trans %}Automatic Improvement of a SLAM system through source code manipulation with an evolutionary algorithm{% endtrans %}</u>
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>{% trans %}Dr. Leonardo Trujillo Reyes{% endtrans %}</strong>, {% trans %}TecNM/IT Tijuana{% endtrans %}
            </p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>20:30 - 22:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Cena de Gala{% endtrans %}</p>
        </div>
      </div>
    </li>
  </ul>

  <h2 align="center" class="title">{% trans %}Jueves 8 de Noviembre{% endtrans %}</h2>
  <ul>
        <li>
          <div class="single_popular">
            <p align="center"><strong>{% trans %}Presentaciones de Ponencias{% endtrans %}</strong></p>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>10:00 - 10:30</p>
            </div>
            <div class="col-md-9">
                <p><u>{% trans %}Sistema de Clasificación SVM de Señales Electromiográficas Extraídas en un Sistema Embebido{% endtrans %}</u></p>
                <p><small>
                Luis Daniel Reyes Crusaley (Tecnológico Nacional de México/IT de Tijuana), <br>J. R. Cárdenas-Valdez (Tecnológico Nacional de México/IT de Tijuana), <br>Gilberto Enrico Vázquez (Tecnológico Nacional de México/IT de Tijuana), <br>Manuel de Jesús García Ortega (Tecnológico Nacional de México/IT de Tijuana), <br>Andrés Calvillo Téllez (CITEDI-IPN)
                </small></p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>10:30 - 11:00</p>
            </div>
            <div class="col-md-9">
                <p><u>{% trans %}Sistema con base en el Internet de las Cosas para el control de riego en la agroindustria{% endtrans %}</u></p>
                <p><small>
                Brenda Lilia Castro Coronado (Tecnológico Nacional de México/IT de Mexicali), <br>Arnoldo Díaz-Ramírez (Tecnológico Nacional de México/IT de Mexicali),<br>Verónica Quintero Rosas (Tecnológico Nacional de México/IT de Mexicali),<br>Mario Alberto Camarillo Ramos (Tecnológico Nacional de México/IT de Mexicali),<br>Jorge Antonio Atempa Camacho (Tecnológico Nacional de México/IT de Mexicali)
                </small></p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>11:00 - 11:30</p>
            </div>
            <div class="col-md-9">
                <p><u>{% trans %}RFID Tag for Toll-Collection Systems{% endtrans %}</u></p>
                <p><small>
                Sergio Buenrostro Rocha (CITEDI-IPN), <br>Roberto Herrera Charles (CITEDI-IPN), <br>José Luis Medina Monroy (Centro de Investigación Científica y de Educación Superior de Ensenada), <br>Andrés Calvillo Téllez (CITEDI-IPN)
                </small></p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>11:30 - 12:00</p>
            </div>
            <div class="col-md-9">
                <p><u>{% trans %}Diseño de una aplicación móvil para la solución de ecuaciones cuadráticas en una variable{% endtrans %}</u></p>
                <p><small>
                Oscar Enrique Callejas Melgoza (Tecnológico Nacional de México/IT de Mexicali), <br>María Guadalupe Amado Moreno (Tecnológico Nacional de México/IT de Mexicali), <br>Kevin Alberto Luna González (Tecnológico Nacional de México/IT de Mexicali), <br>Raul Lara Granillo (Tecnológico Nacional de México/IT de Mexicali), <br>Manuel Ernesto Robles Hernández (Tecnológico Nacional de México/IT de Mexicali)
                </small></p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>12:00 - 12:30</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Receso para café{% endtrans %}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>12:30 – 14:00</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
            </div>
          </div>
          <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                <u>{% trans %}Oportunidades para estudiar un Posgrado en el Tecnológico Nacional de México{% endtrans %}</u>
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>Dr. José Alberto López Fernández</strong>, {% trans %}Jefe de Posgrado del Tecnológico Nacional de México{% endtrans %}
            </p>
        </div>
      </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>14:00 – 14:30</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Ceremonia de Clausura{% endtrans %}</p>
            </div>
          </div>
        </li>
    </ul>
</div>

{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('program', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('program', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('program', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('program', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
