{% extends 'base.html.twig' %}
{% block body %}
<h1>{% trans %}Programa General{% endtrans %}</h1>
<div class="popular">
  <h2 align="center" class="title">{% trans %}Martes 7 de Noviembre{% endtrans %}</h2>
  <ul>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Centro de Convenciones{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>8:30 – 14:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Registro{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>9:00 – 9:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Ceremonia de Inauguración{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>9:30 – 11:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
      <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                {% trans %}Multirrotores: Principios de Operación y Aplicaciones{% endtrans %}
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>Dr. Carlos T. Calafate</strong>, {% trans %}Universidad Politécnica de Valencia, España{% endtrans %}
            </p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:00 – 11:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Receso para café{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p align="center"><strong>{% trans %}Consorcio de Posgrado{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:30 – 12:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Modelo para Identificación de Estados Afectivos y sus Causas a través de Redes de Dispositivos Inteligentes{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>12:00 – 12:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Implementación de un sistema de almacén de datos para preservación de datos de origen climático{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>12:30 – 13:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Investigando el middleware ROS para una posible implementación en un sistema basado en Cloud Computing{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>13:00 – 16:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Comida{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p align="center"><strong>{% trans %}Consorcio de Posgrado{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:00 – 16:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Diseño de un Backend Orientado a Objetos para Base de Datos Heterogéneas y su Interconexión con Clientes Web Asíncronos y Adaptativos {% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:30 – 17:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Sistema de Tiempo-Real para el seguimiento de objetos{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:00 – 17:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Algoritmo de trazado de rutas en interiores sin infraestructura{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:30 – 19:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
      <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                {% trans %}Ciudades Inteligentes: ¿también para nosotros?{% endtrans %}
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>Dr. José Antonio García Macías</strong>, {% trans %}CICESE, Ensenada, México{% endtrans %}
            </p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Salón Guaycura{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>19:00 - 21:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Presentación de Carteles{% endtrans %}</p>
        </div>
      </div>
    </li>
  </ul>

  <h2 align="center" class="title">{% trans %}Miercoles 8 de Noviembre{% endtrans %}</h2>
  <ul>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Centro de Convenciones{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>8:30 – 14:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Registro{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>9:00 – 10:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
      <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                {% trans %}Antes y después del IoT (Internet de las Cosas){% endtrans %}
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>Dr. Mario Siller</strong>, {% trans %}CINVESTAV-IPN, Guadalajara, México{% endtrans %}
            </p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>10:30 – 11:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Receso para café{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p align="center"><strong>{% trans %}Presentaciones de Ponencias{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:00 – 11:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Máquinas de Soporte Vectorial para inferir el punto de atención de automovilistas vistiendo lentes inteligentes{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:30 – 12:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Propuesta para Monitorizar el Nivel de Gas LP a través del Internet de las Cosas{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>12:00 – 12:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}An analysis of dietary and demographic data in Oral Health, data from the National Health and Nutrition Examination Survey: A preliminary Study{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>12:30 – 13:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Estimación del Alcance de Radiotransmisores Xbee {% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>13:00 – 16:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Comida{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p align="center"><strong>{% trans %}Presentaciones de Ponencias{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:00 – 16:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Frequency Analysis of Honey Bee Buzz for Automatic Recognition of Status Health; a preliminary study{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:30 – 17:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Diseño de escenarios de aprendizaje con interfaces naturales y realidad aumentada para apoyar la inclusión de estudiantes con discapacidad auditiva en la educación media superior{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:00 – 17:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Estudio de Cobertura en Anillo para Redes de Tasa Alta{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:30 – 19:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
      <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                {% trans %}¿Por qué realizar estudios de Posgrado?{% endtrans %}
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>{% trans %}Dra. Yesica Imelda Saavedra Benítez{% endtrans %}</strong>, {% trans %}Directora de Posgrado, Investigación e Innovación{% endtrans %}
            </p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Salón Mexicali{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>19:30 - 21:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Cena de Gala{% endtrans %}</p>
        </div>
      </div>
    </li>
  </ul>

  <h2 align="center" class="title">{% trans %}Jueves 9 de Noviembre{% endtrans %}</h2>
  <ul>
        <li>
          <div class="single_popular">
            <p><strong>{% trans %}Centro de Convenciones{% endtrans %}</strong></p>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <p align="center"><strong>{% trans %}Presentaciones de Ponencias{% endtrans %}</strong></p>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>9:00 - 9:30</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Energy Consumption of an Internal CRC module in a Microcontroller{% endtrans %}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>9:30 - 10:00</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Autentificación para Acceso a Datos Distribuidos basado en Kerberos{% endtrans %}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>10:00 - 10:30</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Detección y extracción automática de eventos S1, S2, S3 y S4 en sonidos del corazón{% endtrans %}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>10:30 - 11:00</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Diseño de un Sistema de Comunicaciones en tiempo real en la web y su escalabilidad en la nube para consultas y seguimiento médico{% endtrans %}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>11:00 - 11:30</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Receso para café{% endtrans %}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>11:30 – 13:00</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
            </div>
          </div>
          <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                {% trans %}Mejora de visibilidad en presencia de dispersión óptica{% endtrans %}
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>Dr. Víctor Hugo Díaz Ramírez</strong>, {% trans %}CITEDI-IPN, Tijuana, México{% endtrans %}
            </p>
        </div>
      </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>13:00 – 14:00</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Presentación Convenio Instituto Tecnológico de Mexicali – Universidad Politécnica de Valencia{% endtrans %}</p>
            </div>
          </div>
        </li>
    </ul>
</div>

{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('program', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('program', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('program', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('program', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
