{% extends 'base.html.twig' %}
{% block body %}
<h1>{% trans %}Programa General{% endtrans %}</h1>
<div class="popular">
  <h2 align="center" class="title">{% trans %}Martes 7 de Noviembre{% endtrans %}</h2>
  <ul>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Centro de Convenciones{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>8:30 – 14:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Registro{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>9:00 – 9:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Ceremonia de Inauguración{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>9:30 – 11:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
      <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong><u>
                {% trans %}Multirrotores: Principios de Operación y Aplicaciones{% endtrans %}
              </u></strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>Dr. Carlos T. Calafate</strong>, {% trans %}Universidad Politécnica de Valencia, España{% endtrans %}
            </p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:00 – 11:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Receso para café{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p align="center"><strong>{% trans %}Consorcio de Posgrado{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:30 – 12:00</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Modelo para Identificación de Estados Afectivos y sus Causas a través de Redes de Dispositivos Inteligentes{% endtrans %}</u></p>
            <p><small>
            Martín G. Salido O. (Instituto Tecnológico de Sonora), <br>Luis-Felipe Rodríguez (Instituto Tecnológico de Sonora), <br>Luis A. Castro (Instituto Tecnológico de Sonora )
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>12:00 – 12:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Implementación de un sistema de almacén de datos para preservación de datos de origen climático{% endtrans %}</u></p>
            <p><small>
            Mitchel Paola Hermosillo Perea (Instituto Tecnológico de Sonora), <br>Luis A. Castro (Instituto Tecnológico de Sonora),<br> Luis Felipe Rodriguez (Instituto Tecnológico de Sonora)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>12:30 – 13:00</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Analizando el middleware ROS para una posible implementación en un sistema basado en Cloud Computing{% endtrans %}</u></p>
            <p><small>
            Alonso-Pérez Jorge (Instituto Tecnológico de Tijuana), <br>Cázares-Castro Nohé (Instituto Tecnológico de Tijuana), <br>Reynoso-Soto Edgar (Instituto Tecnológico de Tijuana)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>13:00 – 16:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Comida{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p align="center"><strong>{% trans %}Consorcio de Posgrado{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:00 – 16:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Diseño de un Backend Orientado a Objetos para Base de Datos Heterogéneas y su Interconexión con Clientes Web Asíncronos y Adaptativos {% endtrans %}</u></p>
            <p><small>
            A. F. Aguilar Fernández (Instituto Tecnológico Superior de Misantla), <br>J. A. Carrera Melchor (Instituto Tecnológico Superior de Misantla), <br>F. A. Aguilar Gómez (Instituto Tecnológico Superior de Misantla), <br>A. A. Ramos Salvador (Instituto Tecnológico Superior de Misantla)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:30 – 17:00</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Sistema de Tiempo-Real para el seguimiento de objetos{% endtrans %}</u></p>
            <p><small>
            Andrés Buelna Benítez (Instituto Tecnológico de Mexicali), <br>Arnoldo Díaz-Ramírez (Instituto Tecnológico de Mexicali), <br>Víctor H. Díaz-Ramírez (Instituto Politécnico Nacional, CITEDI), <br>Leopoldo N. Gaxiola (Instituto Tecnológico de Culiacán), <br>Verónica Quintero Rosas (Instituto Tecnológico de Mexicali)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:00 – 17:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Algoritmo de trazado de rutas en interiores sin infraestructura{% endtrans %}</u></p>
            <p><small>
            Mayra L. Lizárraga  (Instituto Tecnológico de Mexicali), <br>Arnoldo Díaz-Ramírez (Instituto Tecnológico de Mexicali), <br>Johann M. Marquez-Barja (Universidad de Amberes, Bélgica), <br>Verónica Quintero Rosas (Instituto Tecnológico de Mexicali), <br>Juan Pablo García Vázquez (Universidad Autónoma de Baja California)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:30 – 19:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
      <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                <u>{% trans %}Ciudades Inteligentes: ¿también para nosotros?{% endtrans %}</u>
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>Dr. José Antonio García Macías</strong>, {% trans %}CICESE, Ensenada, México{% endtrans %}
            </p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Salón Guaycura{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>19:00 - 21:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Presentación de Carteles{% endtrans %}</p>
        </div>
      </div>
    </li>
  </ul>

  <h2 align="center" class="title">{% trans %}Miercoles 8 de Noviembre{% endtrans %}</h2>
  <ul>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Centro de Convenciones{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>8:30 – 14:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Registro{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>9:00 – 10:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
        </div>
      </div>
      <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                <u>{% trans %}Antes y después del IoT (Internet de las Cosas){% endtrans %}</u>
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>Dr. Mario Siller</strong>, {% trans %}CINVESTAV-IPN, Guadalajara, México{% endtrans %}
            </p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>10:30 – 11:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Receso para café{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p align="center"><strong>{% trans %}Presentaciones de Ponencias{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:00 – 11:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Máquinas de Soporte Vectorial para inferir el punto de atención de automovilistas vistiendo lentes inteligentes{% endtrans %}</u></p>
            <p><small>
            José M. Ramírez (Universidad Autónoma de Baja California), <br>Marcela D. Rodríguez (Universidad Autónoma de Baja California), <br>Ángel G. Andrade (Universidad Autónoma de Baja California), <br>Antonio Ordorica (Universidad Autónoma de Baja California)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>11:30 – 12:00</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Propuesta para Monitorizar el Nivel de Gas LP a través del Internet de las Cosas{% endtrans %}</u></p>
            <p><small>
            Javier Dávila (Gaszen Tech S.A.P.I.), <br>Rodrigo Mendez (Gaszen Tech S.A.P.I.), <br>Rafael Martínez-Peláez (Universidad De La Salle Bajío), <br>Daniel Olivares (Universidad De La Salle Bajío), <br>Saúl Ramírez Noriega (Universidad De La Salle Bajío), <br>Jorge Ramon Parra-Michel (Universidad De La Salle Bajío)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>12:00 – 12:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}An analysis of dietary and demographic data in Oral Health, data from the National Health and Nutrition Examination Survey: A preliminary Study{% endtrans %}</u></p>
            <p><small>
            Nubia M. Chávez-Lamas (Universidad Autónoma de Zacatecas), <br>Laura A. Zanella-Calzada (Universidad Autónoma de Zacatecas), <br>Carlos E. Galván-Tejada (Universidad Autónoma de Zacatecas)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>12:30 – 13:00</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Estimación del Alcance de Radiotransmisores Xbee {% endtrans %}</u></p>
            <p><small>
            José Cruz Núñez Pérez (Instituto Politécnico Nacional, CITEDI), <br>Aldo Bonilla Rodriguez  (Instituto Politécnico Nacional, UPIITA), <br>Andrés Calvillo Téllez (Instituto Politécnico Nacional, CITEDI) 
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>13:00 – 16:00</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Comida{% endtrans %}</p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p align="center"><strong>{% trans %}Presentaciones de Ponencias{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:00 – 16:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Frequency Analysis of Honey Bee Buzz for Automatic Recognition of Status Health; a preliminary study{% endtrans %}</u></p>
            <p><small>
            Antonio Robles-Guerrero (Universidad Autónoma de Zacatecas), <br>Tonatiuh Saucedo-Anaya (Universidad Autónoma de Zacatecas, <br>Efrén González-Ramírez (Universidad Autónoma de Zacatecas), <br>Carlos E. Galván-Tejada (Universidad Autónoma de Zacatecas)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>16:30 – 17:00</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Diseño de escenarios de aprendizaje con interfaces naturales y realidad aumentada para apoyar la inclusión de estudiantes con discapacidad auditiva en la educación media superior{% endtrans %}</u></p>
            <p><small>
            Carmen Cerón (Benemérita Universidad Autónoma de Puebla), <br>Etelvina Archundia (Benemérita Universidad Autónoma de Puebla), <br>Alfonso Garcés (Benemérita Universidad Autónoma de Puebla), <br>Beatriz Beltrán (Benemérita Universidad Autónoma de Puebla), <br>Jair Migliolo (Benemérita Universidad Autónoma de Puebla)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:00 – 17:30</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Estudio de Cobertura en Anillo para Redes de Tasa Alta{% endtrans %}</u></p>
            <p><small>
            Ashley Meléndez Cano (Instituto Politécnico Nacional, CITEDI), <br>Sergio Alberto Juárez Cazares (Instituto Politécnico Nacional, CITEDI), <br>Edgar Allende Chavez Kumar (Instituto Politécnico Nacional, CITEDI), <br>Amit Kumar (Instituto Politécnico Nacional, CITEDI), <br>José Cruz Núñez Pérez (Instituto Politécnico Nacional, CITEDI), <br>Andrés Calvillo Téllez (Instituto Politécnico Nacional, CITEDI)
            </small></p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>17:30 – 19:00</p>
        </div>
        <div class="col-md-9">
            <p><u>{% trans %}Conferencia Magistral{% endtrans %}</u></p>
        </div>
      </div>
      <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                <u>{% trans %}¿Por qué realizar estudios de Posgrado?{% endtrans %}</u>
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>{% trans %}Dra. Yesica Imelda Saavedra Benítez{% endtrans %}</strong>, {% trans %}Directora de Posgrado, Investigación e Innovación del Tecnológico Nacional de México{% endtrans %}
            </p>
        </div>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <p><strong>{% trans %}Salón Mexicali{% endtrans %}</strong></p>
      </div>
    </li>
    <li>
      <div class="single_popular">
        <div class="col-md-3">
            <p>19:30 - 21:30</p>
        </div>
        <div class="col-md-9">
            <p>{% trans %}Cena de Gala{% endtrans %}</p>
        </div>
      </div>
    </li>
  </ul>

  <h2 align="center" class="title">{% trans %}Jueves 9 de Noviembre{% endtrans %}</h2>
  <ul>
        <li>
          <div class="single_popular">
            <p><strong>{% trans %}Centro de Convenciones{% endtrans %}</strong></p>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <p align="center"><strong>{% trans %}Presentaciones de Ponencias{% endtrans %}</strong></p>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>9:00 - 9:30</p>
            </div>
            <div class="col-md-9">
                <p><u>{% trans %}Energy Consumption of an Internal CRC module in a Microcontroller{% endtrans %}</u></p>
                <p><small>
                Mario Alberto Camarillo-Ramos (Instituto Tecnológico de Mexicali), <br>Roberto López-Avitia (Instituto Tecnológico de Mexicali), <br>Miguel Bravo-Zanoguera (Universidad Autónoma de Baja California), <br>Verónica Quintero-Rosas (Instituto Tecnológico de Mexicali), <br>Reyes Apolonio Castro-Corral (Instituto Tecnológico de Mexicali), <br>Alvarado-Álvarez Andrea Magaly (Instituto Tecnológico de Mexicali)
                </small></p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>9:30 - 10:00</p>
            </div>
            <div class="col-md-9">
                <p><u>{% trans %}Autentificación para Acceso a Datos Distribuidos basado en Kerberos{% endtrans %}</u></p>
                <p><small>
                Juan Alejandro Ibáñez Ramírez (Universidad Autónoma Metropolitana-Cuajimalpa), <br>Francisco de Asís López-Fuentes (Universidad Autónoma Metropolitana-Cuajimalpa)
                </small></p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>10:00 - 10:30</p>
            </div>
            <div class="col-md-9">
                <p><u>{% trans %}Detección y extracción automática de eventos S1, S2, S3 y S4 en sonidos del corazón{% endtrans %}</u></p>
                <p><small>
                P. Mayorga (Instituto Tecnológico de Mexicali), <br>G. Chavez (Instituto Tecnológico de Mexicali), <br>V. Arguelles (Instituto Tecnológico de Mexicali), <br>C. Druzgalski (California State University, Long Beach, CA , USA), <br>V. Zeljkovic (The Lincoln University, PA, USA )
                </small></p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>10:30 - 11:00</p>
            </div>
            <div class="col-md-9">
                <p><u>{% trans %}Diseño de un Sistema de Comunicaciones en tiempo real en la web y su escalabilidad en la nube para consultas y seguimiento médico{% endtrans %}</u></p>
                <p><small>
                José Vargas-Huamán (Universidad Nacional de San Agustín, Arequipa, Perú), <br>Kevin Quispe-Huaman (Universidad Nacional de San Agustín, Arequipa, Perú), <br>Eduardo Sutta-Gonzales (Universidad Nacional de San Agustín, Arequipa, Perú), <br>Amarilis Tipo-Parillo (Universidad Nacional de San Agustín, Arequipa, Perú), <br>Luis Yanque-Chura (Universidad Nacional de San Agustín, Arequipa, Perú), <br>José Sulla-Torres (Universidad Nacional de San Agustín, Arequipa, Perú)
                </small></p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>11:00 - 11:30</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Receso para café{% endtrans %}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>11:30 – 13:00</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Conferencia Magistral{% endtrans %}</p>
            </div>
          </div>
          <div class="single_popular">
        <div class="col-md-12">
            <p align="center">
              <strong>
                <u>{% trans %}Mejora de visibilidad en presencia de dispersión óptica{% endtrans %}</u>
              </strong>
            </p>
            <p>
              {% trans %}Impartida por{% endtrans %}: <strong>Dr. Víctor Hugo Díaz Ramírez</strong>, {% trans %}CITEDI-IPN, Tijuana, México{% endtrans %}
            </p>
        </div>
      </div>
        </li>
        <li>
          <div class="single_popular">
            <div class="col-md-3">
                <p>13:00 – 14:00</p>
            </div>
            <div class="col-md-9">
                <p>{% trans %}Presentación Convenio Instituto Tecnológico de Mexicali – Universidad Politécnica de Valencia{% endtrans %}</p>
            </div>
          </div>
        </li>
    </ul>
</div>

{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('program', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('program', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('program', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('program', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
