{% extends 'base.html.twig' %}


{% block body %}
{% trans %}
Todos los autores y asistentes deben registrarse para poder participar en la actividades de la conferencia.
{% endtrans %}<br><br>
{% trans %}
Es importante tener en cuenta que para ser publicado en la revista Research in Computer Science (artículos) y en las memorias en extenso de la ICCNA 2017 (carteles y consorcio de Posgrado), un autor de un trabajo aceptado debe registrarse y presentarlo en la conferencia, a menos que tenga la autorización del comité organizador para que alguien que no sea autor lo presente. El pago de registro no es reembolsable y debe hacerse antes del envío de la versión final del trabajo. Para autores con mas de un trabajo aceptado, el pago de un registro es válido hasta por dos trabajos.
{% endtrans %}<br><br>
{% trans %}
Cuotas:
{% endtrans %}<br><br>
{% trans %}
Registro de autor con artículo aceptado:  3,600 pesos
{% endtrans %}<br>
{% trans %}
Registro de autor con cartel o participación en consorcio de posgrado aceptada: 1,800 pesos
{% endtrans %}<br><br>
{% trans %}
Asistente con pago antes o el 6 de Noviembre:  600 pesos
{% endtrans %}<br>
{% trans %}
Asistente con pago después del 6 de Noviembre:  800 pesos
{% endtrans %}<br><br>
{% trans %}
Estudiante con pago antes o el 6 de Noviembre:  300 pesos
{% endtrans %}<br>
{% trans %}
Estudiante con pago después del 6 de Noviembre:  450 pesos
{% endtrans %}<br><br>
{% trans %}
Asistencia a la cena de gala:  600 pesos (fecha limite de pago 6 de noviembre)
{% endtrans %}
<br><br><strong>
{% trans %}
Nota: Estudiantes deberan presentar credencial vigente al recoger su carnet
{% endtrans %}</strong>
<hr>
<form class="form-signin" action="{{asset('bundles/app/santander/new_lineapago.php')}}" method="post" target="_blank">
    <h2 class="form-signin-heading">Registrar<br/></h2>
    
    <label for="name" class="sr-only">Nombre:</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="{% trans %}Nombre{% endtrans %}" required>
    
    <label for="lname" class="sr-only">Apellidos:</label>
    <input type="text" id="lname" name="lname" class="form-control" placeholder="{% trans %}Apellidos{% endtrans %}" required >
    
    <label for="insti" class="sr-only">Institución:</label>
    <input type="text" id="insti" name="insti" class="form-control" placeholder="{% trans %}Institución{% endtrans %}" required >
    <label for="concepto" class="sr-only">Concepto:</label>
    <select id="concepto" name="concepto" class="form-control" required >
      <option value="1">{% trans %}Estudiante{% endtrans %}</option>
      <option value="2">{% trans %}Asistente{% endtrans %}</option>
      <option value="3">{% trans %}Cena de gala{% endtrans %}</option>
    </select>

    <input type="radio"  value="1" id="factura01" name="factura" />
    <label for="factura01"><span ></span >{% trans %}SI requiere factura{% endtrans %}</label>
    <input type="radio" value="0" id="factura02" name="factura" checked />
    <label for="factura02"><span></span>{% trans %}NO requiere factura{% endtrans %}</label>
    <input class="btn btn-lg btn-primary btn-block" type="submit" name="enviar" value="{% trans %}Generar línea de pago{% endtrans %}" />
</form>

{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('registration', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('registration', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('registration', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('registration', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
