{% extends 'base.html.twig' %}


{% block body %}
{% trans %}
Todos los autores y asistentes deben registrarse para poder participar en la actividades de la conferencia.
{% endtrans %}<br><br>
{% trans %}
Es importante tener en cuenta que para ser publicado en la revista Research in Computer Science (artículos) y en las memorias en extenso de la ICCNA 2017 (carteles y consorcio de Posgrado), un autor de un trabajo aceptado debe registrarse y debe presentarlo en la conferencia, amenos que tenga la autorización del comité organizador para que alguien que no sea autor lo presente. El pago de registro no es reembolsable y debe hacerse antes del envío de la versión final del trabajo. Para autores con mas de un trabajo aceptado, el pago de un registro es válido hasta por dos trabajos.
{% endtrans %}<br><br>
{% trans %}
Cuotas:
{% endtrans %}<br><br>
{% trans %}
Registro de autor con artículo aceptado:  3,600 pesos
{% endtrans %}<br>
{% trans %}
Registro de autor con cartel o participación en consorcio de posgrado aceptada: 1,800 pesos
{% endtrans %}<br><br>
{% trans %}
Asistente con pago antes o el 31 de Octubre:  600 pesos
{% endtrans %}<br>
{% trans %}
Asistentes con pago después del 31 de Octubre:  800 pesos
{% endtrans %}<br><br>
{% trans %}
Estudiante con pago antes o el 31 de Octubre:  300 pesos
{% endtrans %}<br>
{% trans %}
Estudiante con pago después del 31 de Octubre:  450 pesos
{% endtrans %}
{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('registration', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('registration', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('registration', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('registration', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
