{% extends 'base.html.twig' %}


{% block body %}
{% set locale = app.request.locale %}{#
{% trans %}
Las actividades de la ICCNA se llevarán a cabo en el Hotel Araiza Mexicali, que está localizado en el corazón de la zona turística de la ciudad.
{% endtrans %}<br><br>
Hotel Araiza Mexicali<br>
Blvd. Benito Juárez #2220 Fracc. Jardínes del Valle C.P. 21270 Mexicali B.C.<br>
{% trans %}
Teléfono 01 (686) 564-1100 Ext. 753 y 762. Llamada sin costo 01-800-026-5444
{% endtrans %}<br><br>
{% trans %}
Al hacer la reservación, favor de identificarse con el nombre ICCNA 2017.
{% endtrans %}<br><br>
    {% if locale == 'es' %}
    <a href="http://www.araizahoteles.com/araiza/index.php/es/">
    {% elseif locale == 'en' %}
    <a href="http://www.araizahoteles.com/araiza/index.php/en/">
    {% endif %}
{% trans %}
http://www.araizahoteles.com/araiza/index.php/es/
{% endtrans %}</a><br><br>
{% trans %}
Los siguientes precios son por habitación, por noche, desde 1 hasta 4 personas por habitación. Los precios no incluyen IVA{% endtrans %} (16&#37;) {% trans %}ni Impuesto sobre Hospedaje{% endtrans %} (3&#37;).
<br><br>
{% trans %}
Habitación estándar 990.00 pesos
{% endtrans %}<br>
{% trans %}
Habitación estándar superior 1,190.00 pesos
{% endtrans %}<br><br><br>
{% trans %}
También se tiene disponible la opción de hospedaje en el Hotel Calafia Mexicali, que está muy cerca del hotel sede.
{% endtrans %}<br><br>
Justo Sierra 1495, Fracc. Los Pinos, CP. 21230 Mexicali B.C., Mexico.<br>
{% trans %}
Teléfono 01 (686) 568-3311 Ext. 566. Llamada sin costo 01-800-026-5444
{% endtrans %}<br><br>
    {% if locale == 'es' %}
    <a href="http://www.araizahoteles.com/calafia/index.php/es/">
    {% elseif locale == 'en' %}
    <a href="http://www.araizahoteles.com/calafia/index.php/en/">
    {% endif %}
{% trans %}
http://www.araizahoteles.com/calafia/index.php/es/
{% endtrans %}</a><br><br>
{% trans %}
Los siguientes precios son por habitación, por noche, desde 1 hasta 4 personas por habitación. Los precios no incluyen IVA{% endtrans %} (16&#37;) {% trans %}ni Impuesto sobre Hospedaje{% endtrans %} (3&#37;).
<br><br>
{% trans %}
Habitación estándar 690.00 pesos
{% endtrans %}<br>
{% trans %}
Habitación estándar superior 765.00 pesos
{% endtrans %}<br><br> #}
{% endblock %}
{% block stylesheets %} {% endblock %}
{% block footer %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('venue', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('venue', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
{% block corner %}
    {% set locale = app.request.locale %}
    {% if locale == 'es' %}
    <a href="{{ path('venue', { '_locale': 'en' }) }}"><img src="{{ asset('bundles/app/images/us.png') }}" height="32" width="32" >  </a>
    {% elseif locale == 'en' %}
    <a href="{{ path('venue', { '_locale': 'es' }) }}"><img src="{{ asset('bundles/app/images/es.png') }}" height="32" width="32" >  </a>
    {% endif %}
{% endblock %}
